bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Fintracker.API/appsettings.Development.json
Fintracker.API/appsettings.json
.idea
/Fintracker.Persistence/Migrations
InitialData
/Fintracker.API/wwwroot/images

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Fintracker.UI/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
